.box-new
{
    margin-bottom: 50px;
    .box-new-item.col-xs-3
    {
        padding-top: 30px;
        >h3
        {
            margin-bottom: 30px;
            font-size: 125%;
            display: block;
            text-align: center;
            padding-bottom: 15px;
            border-bottom: 1px solid #000;
        }
        p
        {
            margin-bottom: 10px;
        }
    }
    .box-new-item-post
    {
        display: flex;
        gap: 30px;
        align-items: start;
        margin-bottom: 30px;
        cursor: pointer;
        p
        {
            font-weight: 300;
        }
    }
    .box-new-item.col-xs-8
    {
        .box-new-item-post
        {
            p
            {
                margin-bottom: 30px;
            }
        }
    }
}
.detail-blog
{
    .box-new-item
    {
        h3
        {
            font-style: normal;
            font-weight: 100;
            font-size: 200%;
            margin: 15px 0;
        }
    }
    p
    {
        font-weight: 400;
        font-size: 100%;
        line-height:24px;
    }
    img
    {
        margin:25px 0;
    }
    a
    {
        line-height:24px;
    }
    .list
    {
        margin:15px 0;
        li
        {
            padding-left: 15px;
            margin: 10px 0;
        }
    }
}
.box-new .box-new-nav
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    p,img
    {
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 8px;
    }
}
@media only screen and (max-width: 1080px) {
    .blog
    {
        .box {
            margin-top: 30px;
        }
        .box.box-new
        {
            flex-wrap: wrap;
            .flex-r.between-xs
            {
                flex-wrap: wrap;
            }
        }
        .box-new-item
        {
            flex-basis: 100%;
            max-width: 100%;
        }
        .box-new .box-new-item.col-xs-8 .box-new-item-post p {
            margin-bottom: 10px;
        }
        .box-new-item-post
        {
            img
            {
                width: 50%;
            }
        }
    }
}