.category-main
{
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title-category
{
    margin-top: 60px;
}
.category-menu
{
    p
    {
        margin-top: 25px;
    }
}
.category
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    &-item
    {
        cursor: pointer;
        overflow: hidden;
        img:hover
        {
            transform: scale(1.1);
            transition: all 0.5s linear;
        }
    
        h2
        {
            font-style: normal;
            font-weight: 400;
            font-size: 150%;
            display: block;
            position: relative;
            margin: 8px 0;
            &::after
            {
                content: "";
                bottom: -25px;
                width: 25%;
                height: 2px;
                background-color: #F7934D;
            }
        }
        p
        {
            font-size: 80%;
            font-weight: 400;
        }
    }
}
.box-new-nav
    {
        transform: translateX(50%);
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        p,img
        {
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 8px;
        }
    }