$green: #5DA8AF;
$black: #000000;
$gray: #838383;
$brown: #614436;
$brown2: #CEB086;
$orange: #F7934D;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    position: relative;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.container {
    width: 1258px !important;
    max-width: 90%;
    margin: 0 auto;
}

.flex-r {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: $black;
}

li {
    list-style: none;
}

.orange {
    color: $orange;
}

.bold {
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

.black {
    color: $black;
}

.gray {
    color: $gray;
}

button a {
    color: #fff;
}

header {
    background-color: $green;
    height: 60px;

    p {
        text-align: center;
        align-items: center;
        color: #fff;
        line-height: 60px;
        font-weight: 500;
        font-size: 100%;
    }
}
.noti
{
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index:999999999999999999999;
    cursor: pointer;
    img
    {
        width: 60px;
    }
}
.nav-fixed {
    gap: 8px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;

    &-item {
        cursor: pointer;
        padding: 10px;
        background-color: $green;
        border-radius: 3px;

        img {
            margin: auto;
        }
    }
}

.cursor {
    cursor: pointer;
}

.p-20 {
    font-size: 125%;
}

.p-16 {
    font-size: 100%;
}

.line {
    text-decoration-line: line-through;
}

.menu {
    margin-top: 50px;
    font-weight: 500;
    gap: 100px;
    align-items: center;

    li {
        a {
            font-size: 125%;
            color: $black;
            &:hover
            {
                color: $orange;
            }
        }
    }
}
.activeOrange {
    color: $orange !important;
}
#isShow:hover {
    color: red;
    transition: 0.25s linear;
}

#isShow:hover .menu-hide {
    display: block;
    transition: 0.5s linear;
}

.menu-top {
    position: relative;
    margin-bottom: 10px;
}

.aa {
    color: blue;
}

.menu-hide {
    display: none;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 8999988;
}

.box-hide {
    flex-wrap: wrap;
    border: 1px solid #D9D9D9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    &-item {
        margin-top: 15px;

        >h3 {
            color: $black;
            font-weight: 600;
            margin-top: 15px;
        }

        ul {
            margin-top: 15px;
            margin-left: 30px;

            li {
                color: $gray;
                font-weight: 500;
                list-style:circle;
                &:hover
                {
                    color: $green;
                    text-decoration: underline;
                }
            }
        }
    }

    &-menu {
        font-size: 90%;
    }

    .box-hide-2 {
        display: flex;
        gap: 30px;
        white-space: nowrap;
    }
}

.box-gallery {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;

    &-item {
        gap: 15px;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover img:nth-child(2) {
            display: block;
        }

        &:hover img:nth-child(1) {
            display: none;
        }

        img:nth-child(2) {
            display: none;
        }

        p {
            font-size: 125%;
            font-weight: 500;
        }
    }
}

.box-show1 {
    display: none;
    width: 450px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    z-index: 99999;
    background-color: #fff;

    .img-abs {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 100%);
        width: 15px;
        height: 15px;
    }

    .cart-item-product {
        padding: 8px 0;
        gap: 15px;
        position: relative;

        h3 {
            font-weight: 500;
            font-size: 100%;
        }

        p {
            font-size: 85%;
        }
    }

    .cart1-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        button {
            width: 45%;
            color: #fff;
            display: flex;
            height: 40px;
            border: 0;
            outline: none;
            border-radius: 8px;

            a {
                display: block;
                height: 100%;
                margin: auto;
                line-height: 40px;
                font-size: 125%;
            }

            &:first-child {
                background-color: #000;
            }

            &:last-child {
                background-color: $green;
            }
        }
    }

    .cart1-p {
        margin-top: 15px;


    }

    .product-cart {
        padding: 15px 0;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
}

.tool {
    align-items: end;
    margin-top: 20px;

    .tool-item {
        align-items: center;
        justify-content: space-between;

        &-search {
            height: 100%;
            display: flex;
            align-items: center;
            border-bottom: 0.5px solid #000000;
            input {
                padding-left: 15px;
                background: transparent;
                border: none;
                outline: none;
                width: 350px;
                height: 54px;
                font-size: 100%;
                ::placeholder
                {
                    opacity: 0.5;
                }
            }
        }

        &-user {
            align-items: center;
            gap: 5px;
            position: relative;
            cursor: pointer;

            .box-show {
                display: none;
                width: 250px;
                position: absolute;
                top: 100%;
                left: 0;
                padding: 10px;
                z-index: 99999;

                h4 {
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                    padding: 10px 10px;
                    border-bottom: 1px solid #838383;
                }

                p,
                a {
                    display: block;
                    padding: 10px 30px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin: 0 auto;
                    cursor: pointer;

                    &:hover {
                        background-color: #D9D9D9;
                    }
                }
            }
        }

        .tool-item-icon:nth-child(4) {
            margin-top: -10px;
        }
    }
}

.banner {
    width: 100%;
    height: 600px;
    .banner-item {
        height: 600px !important;
    }

    img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
}

.box-infor {
    height: 226px;

    &-item {
        align-items: center;
        justify-content: center;
        gap: 15px;
        border: 1px solid #BDBDBD;

        p {
            color: $gray;
        }
    }
}

.box {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    >h1 {
        font-size: 225%;
        margin-bottom: 35px;
        text-align: center;
        display: inline;
        position: relative;
        font-weight: 700;
        &:after {
            content: '';
            width: 160px;
            height: 1px;
            border-bottom: 3px solid $orange;
            bottom: -10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    >a {
        width: 100%;
        color: $orange;
        text-align: end;
        display: block;
        text-decoration-line: underline;
        padding-bottom: 5px;
        font-size: 125%;
    }

    &-product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;

        &-item {
            position: relative;
            padding-left: 0 !important;
            padding-right: 0 !important;
            cursor: pointer;

            >h3 {
                margin-bottom: 10px;
                font-weight: 400;
            }

            &-img {
                >img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .img-ab {
                position: absolute;
                top: 15px;
                left: 0%;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .sell {
                    background: $orange;
                    width: 50px;
                    text-align: center;
                    color: #fff;
                    padding: 5px;
                    padding-left: 7px;
                }

                .product-heart {
                    width: 50px;

                    margin-right: 15px;
                }
            }

            &-cost {
                .col-xs-4 {
                    padding-left: 0 !important;
                }
            }

            &-start {
                margin: 10px 0;

                img {
                    width: 15px !important;
                }

                .col-xs-6 {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    align-items: center;
                    gap: 5px;
                    text-align: end
                }
            }
        }
    }
}

.box-product-gird {
    display: flex;
    gap: 48px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: all 0.5s linear;
        }
    }

    .wrapper:nth-child(1) {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .box-product-grid-item {
            width: 100%;
            overflow: hidden;
        }
    }

    .wrapper.v2 {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        .box-product-grid-item {
            width: calc((100% - 24px) / 2);
            overflow: hidden;
        }

        .box-product-grid-item.full {
            width: 100%;
        }
    }
}

.feeback {
    .feeback.flex-r {
        margin-bottom: 5px;
    }

    .box-product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feeback-start {
        gap: 15px;
        justify-content: center;

        img {
            width: 15px;
        }
    }

    p {
        text-align: center;
    }
}

.new {
    align-items: start;

    >h1 {
        width: 100%;
        border: 0;
        padding: 0
    }

    .box-new {
        .owl-nav {
            display: block !important;
        }

        .disabled {
            opacity: 1 !important;

        }

        .owl-stage-outer {
            position: relative;
        }

        .dotL {
            position: absolute;
            top: 50%;
            background: url(../img/dL.png) no-repeat;
            left: 0%;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 100%;
            outline: none;
            transform: translateX(-50%);
            transition: 0.25s linear;
            // &:hover
            // {
            //     background:red;
            // }
            span {
                opacity: 0 !important;
            }
        }

        .dotR {
            position: absolute;
            top: 50%;
            background: url(../img/dR.png) no-repeat;
            right: 0%;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 100%;
            outline: none;
            transform: translateX(50%);

            span {
                opacity: 0 !important;
            }
        }

        margin-bottom: 60px;

        &-item {
            gap: 15px;
            border: 1px solid $black;
            padding-bottom: 15px;

            >h3 {
                font-weight: 500;
                font-size: 140%;
                padding: 0 8px;
            }

            >p {
                font-size: 100%;
                font-weight: 100;
                text-align: start;
                padding: 0 8px;
            }

            a {
                display: block;
                text-align: end;
                padding-right: 15px;
                color: $orange;
                text-decoration-line: underline;
            }

            &-ab {
                position: absolute;
                top: 50%;
                left: 00%;
                transform: translate(0%, -50%);
                background: rgba(180, 179, 179, 0.5);
                padding: 8px;

                h3 {
                    font-weight: 100;
                }

                h3:nth-child(2) {
                    font-weight: 600;
                }
            }
        }

        .box-abs {
            position: relative;
        }
    }
}

.box-logo {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.box-logo.owl-carousel .owl-item img {
    display: block;
    width: 50% !important;
}

footer {
    width: 100%;
    // height: 800px;
    margin-top: 60px;
    background: url('../img/footer-img.png') no-repeat;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    .footer-top {
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
        margin: 0 auto;
        margin-top: 80px;

        p {
            font-weight: 300;
            display: block;
            width: 60%;
            text-align: center;
            font-size: 100%;
            font-weight: 300;
            color: #EDEDED;
        }
    }

    .footer-center {
        padding-top: 50px;
        border: 1px solid #fff;
        padding-bottom: 120px;
        margin-top: 50px;
    }

    .footer-center {
        padding-top: 50px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 120px;
        margin-top: 50px;

        .container.flex-r {
            justify-content: space-between;
        }

        &-item {
            gap: 30px;
            max-width: 20%;

            h2 {
                font-weight: 500;
                font-size: 175%;
                white-space: nowrap;
            }

            p {
                color: #EDEDED;
                font-weight: 300;
                line-height: 20px;
                margin: 10px 0;
            }

            >input {
                width: 100%;
                height: 50px;
                outline: none;
                border: 0px;
                background: rgba(180, 179, 179, 0.3);
                padding-left: 15px;
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }

            >button {
                color: #fff;
                font-size: 125%;
                padding: 15px 32px;
                width: 140px;
                box-sizing: border-box;
                border-radius: 8px;
                display: flex;
                border: 0px;
                outline: none;
                background: $orange;
                display: flex;
            }

            span {
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 15px 0;
            }
        }
    }

    .footer-bot {
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        position: relative;

        >p {
            display: inline-block;
            text-align: center;
            font-size: 150%;
            line-height: 50px;
        }

        &-ab1 {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 100%;
            right: 30px;
            background: rgba(217, 217, 217, 0.5);
            border-radius: 50%;
            display: flex;
            right: 10px;
            transform: translate(-50%, -50%);

            p {
                margin: auto;
            }
        }

        &-ab2 {
            background: #5DA8AF;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 15px;
            height: 40px;
            display: flex;

            span {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                p {
                    font-size: 100%;
                }

                img {
                    width: 20px;
                }
            }
        }
    }
}

//modal

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');

* {
    outline-width: 0;
    font-family: 'Nunito' !important;
}

// Background Image will change daily.
$image: 'https://source.unsplash.com/2560x1440/daily';

// Colour of buttons
$main: #00897B;

.modal1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    header,
    footer {
        background: unset;
        flex-direction: unset;
        height: unset;
    }
}

.modal-title {
    margin: 20px 0 !important;
    opacity: 1 !important;
}

#formContainer {
    display: flex;
    transition: 0.2s ease;
    transition-delay: 0.3s;

    &.toggle {
        height: 550px;
        transition-delay: 0s;
    }
}

.formLeft {
    background: #fff;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    img {
        display: block;
        width: 400px;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}

.formRight {
    position: relative;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;

    &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        background: url($image) center/cover fixed;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
        filter: blur(5px);
    }

    form {
        position: relative;
        padding: 25px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;

        header {
            color: #fff;
            text-align: center;
            margin-bottom: 15px;

            h1 {
                margin: 0;
                font-weight: 400;
                user-select: none;
            }

            p {
                margin: 5px 0 0;
                opacity: 0.5;
                font-size: 14px;
                user-select: none;
            }
        }

        section {
            label {
                display: block;
                margin-bottom: 15px;
                position: relative;

                p {
                    color: #fff;
                    margin: 0 0 10px 0;
                    font-weight: 600;
                    font-size: 12px;

                    user-select: none;
                }

                input {
                    width: 100%;
                    display: block;
                    border: none;
                    background: transparent;
                    color: #fff;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    padding: 0 0 10px;
                    box-sizing: border-box;
                    font-weight: 600;

                    &:focus~.border {
                        transform: scale(1, 1);
                    }

                    &:not(:placeholder-shown)~.border {
                        transform: scale(1, 1);
                    }
                }

                .border {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transform: scale(0, 1);
                    transition: 0.2s ease;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            button {
                background: $main;
                border: none;
                width: 100%;
                padding: 10px 0;
                font-weight: 600;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: darken($main, 2%);
                }
            }
        }

        footer {
            margin-top: 15px;
            display: flex;

            button {
                background: transparent;
                padding: 0;
                border: none;
                color: #fff;
                cursor: pointer;
                font-size: 12px;
                font-weight: bold;
                flex: 1;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &.otherForm {
            top: 0;
            left: 0;
            position: absolute;
            background: #fff;
            height: 100%;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 0;
            padding: 25px 0;
            transition: 0.2s ease;
            transition-delay: .2s;
            border-left: 1px solid rgba(0, 0, 0, 0.1);

            header {
                color: #000;
                opacity: 0;
                transition: 0.2s ease;
                transition-delay: 0s;
            }

            p {
                color: #000;
            }

            section {
                opacity: 0;
                transition: 0.2s ease;
                transition-delay: 0s;
            }

            footer {
                border-top-color: rgba(0, 0, 0, 0.1);
                opacity: 0;

                button {
                    color: #000;
                }
            }

            input {
                border-color: rgba(0, 0, 0, 0.1);
                color: #000;
            }

            .border {
                background: #000;
            }

            &.toggle {
                width: 100%;
                padding: 25px;
                transition-delay: 0s;

                header,
                section,
                footer {
                    opacity: 1;
                    transition-delay: 0.3s;
                }
            }
        }
    }
}

#login-modal {
    box-shadow: none;
    z-index: 999999999999999999999999 !important;
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 999999999999999999999999 !important;
    max-width: unset !important;
    box-sizing: border-box;
    width: 90%;
    background: unset !important;
    padding: 0 !important;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
    -o-box-shadow: unset !important;
    -ms-box-shadow: unset !important;
    box-shadow: unset !important;

}

.blocker {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    padding: 0 !important;
    z-index: 9999999999 !important;
}

#close-modal1 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%, -50%);
}

.modal a.close-modal {
    position: absolute;
    top: 35px !important;
    right: -12.5px !important;

}

.box-new-nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    p,
    img {
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 8px;
    }
}
#login
{
    .login-with
    {
        .boder
        {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            div
            {
                height: 1px;
                width: 35%;
                background-color: #fff;
                border-top: 1px solid #fff;
            }
            p
            {
                color: #fff;
            }
          
        }
    }
}